// The whole content below can be removed with the new code.
div(style='text-align:center')
    h1(style='color:grey;')

        | Welcome to CISCO Artificial Intelligence !!
    img.chatbot(src='./images/bot_msg.jpg')
    img.chatbot(src='./images/cisco.png')
    br
    br

    h2(style='color:green;')

        Cisco A.I Chat Bot.
    p
        | Here you can find solutions to your all network related issues.
        | From basic router reset to complex switch settings.
    p
        img(src='./images/image_1_59303162039e1.png')
